@model EPS.Models.LoginInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>機房電子表單系統-登入</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="text-center text-info">機房電子表單系統</h1>
    </div>
    <hr />

    @if (TempData["LoginMsg"] != null)
    {
        <script type="text/javascript">
            var message = "@TempData["LoginMsg"]";
            alert(message);
        </script>
    }
    <div class="container">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="row form-group">
                @Html.LabelFor(m => Model.UserID, new { @class = "control-label col-md-1 col-md-offset-4" })
                @Html.TextBoxFor(m => Model.UserID, new { @class = "form-control", @name = "UserName", @placeholder = "請輸入帳號" })
                @Html.ValidationMessageFor(m => Model.UserID, "", new { @class = "text-danger" })

            </div>
            <div class="row form-group">
                @Html.LabelFor(m => Model.Pwd, new { @class = "control-label col-md-1 col-md-offset-4" })
                @Html.TextBoxFor(m => Model.Pwd, new { @type = "password", @class = "form-control", @name = "Pwd", @placeholder = "請輸入密碼" })
                @Html.ValidationMessageFor(m => Model.Pwd, "", new { @class = "text-danger" })
            </div>
            <div class="row form-group">
                <input type="submit" class="btn btn-primary col-md-offset-5 col-md-3" id="submitbtn" value="登入" />
            </div>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
